@import '../../styles/mixins';
@import '../../styles/variables';

.NavigatorLink {
    color: $MainDarkBlue;
    position: absolute;
    top: 12px;
    @include flex-container($gap: 10px);

    span {
        font-weight: 500;
        transition: all 0.25s;
        cursor: pointer;

        &:nth-child(1):hover {
            border-bottom: 1px solid $MainDarkBlue;
            transform: scale(1.04);
        }

        &:nth-child(3):hover {
            border-bottom: 1px solid $MainDarkBlue;
            transform: scale(1.04);
        }

        &:nth-child(5) {
            cursor:default ;
            font-weight: 700;
        }
    }
}

@media only screen and (min-width: 767px) {
    .NavigatorLink {
        top: 28px;
    }
}