@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

//ricorda che lo hai importato in [cityname].jsx

.CityMainSection {
  @include flex-container(column, flex-start, stretch, nowrap, 35px);

  box-sizing: border-box;
  padding: 35px 25px;
  background-color: white;

  .CityMainData {
    @include flex-container(column, flex-start, stretch, nowrap, 35px);

    .description {
      font-size: 1.2rem;
      line-height: 1.8rem;
      color: $MainDarkBlue;
      font-weight: 300;
      height: 40vh;
      overflow-y: scroll;
      letter-spacing: 2px;

      a {
        text-decoration: none;
        color: $LightBlue;
        font-weight: 600;
      }
    }
  }

  .activitiesDiv {
    @include flex-container(column, $gap: 26px);
    .title {
      color: $MainDarkBlue;
      font-size: 1.2rem;
      font-weight: 700;
      text-transform: uppercase;
    }

    .activitiesList {
      @include flex-container(column, $gap: 15px);
      .activity {
        @include flex-container($align: center);
        border-bottom: 1px solid #77a4ad29;
        height: 36px;

        .categorylink {
          @include flex-container($align: center);
          color: #77a4ad;
          padding-left: 5px;
          font-size: 16px;
          font-weight: 600;
          text-transform: uppercase;
          text-decoration: none;
          height: 100%;
          width: 100%;
          transition: all 0.25s;

          &:hover {
            background-color: #77a4adb6;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .CityMainSection {
    @include flex-container(column, flex-start, stretch, nowrap, 70px);

    padding: 70px 100px;

    .CityMainData {
      @include flex-container(row, space-between, flex-start, $gap: 35px);
      height: max-content;
      .description {
        font-size: 1rem;
        width: 50%;
        height: auto;
      }
    }

    .activitiesDiv {
      @include flex-container(column, space-between, $gap: 15px);

      flex: 0 0 auto;
      width: 50%;

      .title {
        font-size: 1.4rem;
      }

      .activitiesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2%;

        justify-content: space-between;
        box-sizing: border-box;

        .activity {
          height: 30px;
          min-width: 200px;
          max-width: 560px;

          .categorylink {
            font-size: 0.8rem;
            font-weight: 600;
          }
        }
      }
    }
  }
}
