@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.CityMainSection {
  @include flex-container(column, flex-start, stretch, nowrap, 35px);

  box-sizing: border-box;
  padding: 35px 25px;
  background-color: white;

  .CityMainData {
    @include flex-container(column, flex-start, stretch, nowrap, 35px);

    .description {
      @include text(1.2rem, 300, $color: $MainDarkBlue);
      line-height: 1.8rem;
      height: 40vh;
      overflow-y: scroll;
      letter-spacing: 2px;
    }
  }

  .activitiesDiv {
    @include flex-container(column, $gap: 26px);
    .title {
      @include text(1.2rem, 700, $transform: uppercase, $color: $MainDarkBlue);
    }

    .activitiesList {
      @include flex-container(column, $gap: 15px);
      .activity {
        @include flex-container($align: center);
        border-bottom: 1px solid #77a4ad29;
        height: 36px;

        .categorylink {
          @include text(16px, 600, $transform: uppercase, $color: #77a4ad);
          @include flex-container($align: center);
          @include dimensions(100%, 100%);

          padding-left: 5px;
          transition: all 0.25s;

          &:hover {
            background-color: #77a4adb6;
            color: white;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .CityMainSection {
    @include flex-container(column, flex-start, stretch, nowrap, 70px);

    padding: 70px 100px;

    .CityMainData {
      @include flex-container(row, space-between, flex-start, $gap: 35px);
      height: max-content;
      .description {
        @include dimensions(50%);
        font-size: 1rem;
      }
    }

    .activitiesDiv {
      @include flex-container(column, space-between, $gap: 15px);

      flex: 0 0 auto;
      width: 50%;

      .title {
        font-size: 1.4rem;
      }

      .activitiesList {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2%;
        justify-content: space-between;
        box-sizing: border-box;

        .activity {
          height: 30px;
          min-width: 200px;
          max-width: 560px;

          .categorylink {
            @include text(0.8rem, 600);
          }
        }
      }
    }
  }
}
