@import "../../styles/_variables.scss";
@import "../../styles/mixins.scss";

.login {
  @include flex-container(column, $align: center, $justify: center);


  height: 100vh;
  background: rgb(4, 43, 52);
  background: linear-gradient(
    180deg,
    rgba(4, 43, 52, 1) 0%,
    rgba(13, 100, 119, 1) 100%
  );

  .logoSection {
    .logo {
      @include flex-container($align: flex-start, $justify: center);

      .star {
        width: 150px;
        animation: fade-in 2s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0.5);
        transition: all 0.25s;
      }
      @keyframes fade-in {
        30% {
          opacity: 0.9;
          transform: scale(-2);
        }
        50% {
          transform: translateX(0);
        }
        100% {
          transform: translateX(198px) translateY(4px);
        }
      }
      @keyframes fade-out {
        30% {
          opacity: 0.9;
        }
        50% {
          transition: opacity 2s;
        }
        100% {
          opacity: 0;
        }
      }

      &.disactive {
        animation: fade-out 2.2s 1.2s forwards cubic-bezier(0.22, 0, 0, 0);
        transition: all 0.35s;
      }
      .polari {
        opacity: 0;
        animation: fade-in2 2s forwards cubic-bezier(0, 0, 1, 1);
        transition: all 0.35s;
        width: 200px;
        margin-top: 10%;
      }
      @keyframes fade-in2 {
        30% {
          opacity: 0;
        }
        50% {
          opacity: 0;
          transform: translateX(0);
        }
        100% {
          opacity: 0.8;
          transform: translateX(-99px);
        }
      }
    }
  }

  .loginSection {
    height: 70%;
    width: 80%;
    border-top: 1px solid rgba(255, 255, 255, 0.516);

    .iconDiv {
      @include flex-container($align: center, $justify: center, $gap: 0.7rem);

      padding-top: 2.5rem;
      color: rgba(255, 255, 255, 0.612);

      h2 {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 600;
        text-transform: uppercase;
      }
      .icon {
        font-size: 1.6rem;
        margin: 0;
      }
    }

    .login_icons {
      height: 20%;
      @include flex-container($align: center, $justify: center);

      .icons {
        font-size: 2rem;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .login {
    @include flex-container($align: center, $justify: flex-start);

    .logoSection {
      width: 50%;

      .logo {
        @include flex-container($align: center, $justify: center);

        transform: scale(50%);

        .star {
          width: 300px;
          animation: fade-in 2s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
          transition: all 0.25s;
        }
        @keyframes fade-in {
          30% {
            opacity: 0.7;
            transform: scale(-2);
          }
          50% {
            transform: translateX(0);
          }
          100% {
            transform: translateX(370px) translateY(5px);
          }
        }
        .polari::before {
          opacity: 0;
        }
        .polari {
          margin: 0;
          opacity: 0;
          animation: fade-in2 2s forwards cubic-bezier(0, 0, 1, 1);
          transition: all 0.25s;
          width: 400px;
        }
        @keyframes fade-in2 {
          30% {
            opacity: 0;
          }
          50% {
            opacity: 0;
            transform: translateX(0);
          }
          100% {
            opacity: 0.7;
            transform: translateX(-235px);
          }
        }
      }
    }

    .loginSection {
      height: 70%;
      width: 50%;
      border-left: 1px solid rgba(255, 255, 255, 0.516);
      border-top: 0;

      .iconDiv {
        @include flex-container(
          $align: center,
          $justify: flex-start,
          $gap: 0.7rem
        );

        padding-top: 2.5rem;
        color: rgba(255, 255, 255, 0.612);

        h2 {
          text-align: start;
          font-size: 1.5rem;

          padding: 0 0 0 2.5rem;
          font-weight: 600;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.612);
        }
      }
    }
  }
}
