@import "../../styles/mixins";
@import "../../styles/variables";

.SubHeader {
  text-transform: uppercase;
  font-size: bold;
}

.ImageDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 6%);
    transition: 0.2s;
    filter: saturate(1.3) contrast(1.1);
  }

  .Heart {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: white;
  }

  .Times {
    position: absolute;
    bottom: 0;
    left: 10px;

    .Ttext {
      font-weight: 50;
      color: white;
    }
  }
  .Image {
    background: linear-gradient(
      180deg,
      rgba(48, 54, 55, 0) 55.21%,
      rgba(24, 25, 26, 0.97) 100%
    );
    border-radius: 2px;
    object-fit: cover;
  }
}
.Content {
  position: relative;
  display: flex;
  flex-direction: column;

  .Pricing {
    display: flex;
    justify-content: space-between;
  }
  .Addz {
    text-decoration: underline;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

    .Cart {
      position: absolute;
      bottom: 17px;
      right: 6px;
    }
  }
}
