@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.carousel_container {

    .Carousel { 
        img {
            height: 200px;
        }
    }
}

@media only screen and (min-width: 768px) {

    .carousel_container {

        .Carousel { 
            width: 70%;
            img {
                height: 300px;
            }
        }
    }

}