@import "../../styles/mixins";

.overlay {
  @include element-position(fixed, 12vh, 0, 0, 0, 2);
}

.Main_Navbar {
  @include element-position($position: absolute, $z-index: 999);
  @include box-model($sizing: border-box, $padding: 0 30px);
  background: rgb(5, 40, 55);
  background: linear-gradient(
    180deg,
    rgba(5, 40, 55, 1) 0%,
    rgba(9, 9, 121, 0) 100%
  );
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.267);
  width: 100%;

  .NavBar {
    @include flex-container($justify: space-between, $align: center);
    height: 12vh;
    color: white;
    position: relative;

    .logo {
      cursor: pointer;
    }

    h2 {
      @include text($weight: 800, $size: 1.4rem);
      cursor: pointer;
    }

    .navbar_container {
      @include flex-container($align: center);

      .search_container {
        @include element-position($position: absolute, $right: 0, $z-index: 2);
        @include flex-container($justify: flex-start);
        @include dimensions($height: 40px, $width: 100.2%);
        pointer-events: none;

        .search_icon {
          @include element-position(
            $position: absolute,
            $top: 0,
            $left: 80%,
            $z-index: 0
          );
          @include text($color: rgba(255, 255, 255, 0.814), $size: 1.8rem);
          height: 40px;
          transition: all 0.5s;
          pointer-events: all;

          &.active {
            @include element-position($position: absolute, $top: 0, $left: 4px);
          }
        }

        .search_input {
          @include element-position(
            $position: absolute,
            $right: 0,
            $z-index: 0
          );
          @include box-model($sizing: border-box, $padding: 0 0 0 34px);
          @include dimensions(0, 100%);
          @include color(
            $color: rgba(255, 255, 255, 0.801),
            $background-color: rgba(0, 0, 0, 0)
          );
          backdrop-filter: blur(6px);
          border: none;
          opacity: 0;
          outline: none;
          transition: all 0.5s;
          pointer-events: none;

          &.active {
            right: 0;
            background-color: rgba(0, 0, 0, 0.766);
            width: 100%;
            pointer-events: all;
            opacity: 1;
          }

          &::placeholder {
            color: rgba(255, 255, 255, 0.725);
          }
        }

        .results {
          @include element-position(
            $position: relative,
            $top: 40px,
            $z-index: 0
          );
          @include dimensions(100%, 0);
          backdrop-filter: blur(6px);
          background-color: rgba(0, 0, 0, 0.629);
          opacity: 0;
          pointer-events: none;
          transition: all 0.35s;

          &.active {
            height: fit-content;
            opacity: 1;
            pointer-events: all;

            ul {
              @include flex-container($direction: column);
              transition: all 0.35s;

              li {
                padding: 10px 10px;
              }
            }
          }
        }
      }

      .ham_btn {
        flex: 0 0 auto;
        @include flex-container(
          $direction: column,
          $justify: space-around,
          $align: flex-end
        );
        @include dimensions(35px, 35px);
        @include box-model($padding: 4px 0, $sizing: border-box);

        span:nth-child(1) {
          @include dimensions(80%, 1.4px);
          background-color: rgb(255, 255, 255);
          display: block;
        }

        span:nth-child(2) {
          @include dimensions(60%, 1.4px);
          background-color: rgb(255, 255, 255);
          display: block;
        }

        span:nth-child(3) {
          @include dimensions(40%, 1.4px);
          background-color: rgb(255, 255, 255);
          display: block;
        }
      }
    }

    .menu {
      @include color(
        $color: rgba(255, 255, 255, 0),
        $background-color: rgba(0, 0, 0, 0.767)
      );
      @include dimensions(0, calc(100vh - 12vh));
      @include element-position($position: absolute, $top: 12vh, $right: -30px);

      box-sizing: border-box;
      overflow: hidden;
      backdrop-filter: blur(2px);
      transition: all 0.35s;
      opacity: 0;

      .navbar_list {
        @include flex-container($direction: column, $gap: 40px);
        @include text($size: 1.6rem, $weight: 300);
        margin: 45px;

        li {
          @include flex-container($gap: 20px, $align: center);
          cursor: pointer;

          .circle {
            display: none;
          }

          &:nth-child(4) {
            .quantity {
              @include color(
                $color: black,
                $background-color: rgba(255, 255, 255, 0.85)
              );
              @include dimensions(25px, 25px);
              @include flex-container($align: center, $justify: center);
              @include text($size: 1.2rem, $weight: 400);
              border-radius: 100%;
              transform: scale(0.8);
            }
          }

          &:nth-child(3) {
            .quantity {
              @include color(
                $color: black,
                $background-color: rgba(255, 255, 255, 0.85)
              );
              @include dimensions(25px, 25px);
              @include flex-container($align: center, $justify: center);
              @include text(25px, 25px);
              border-radius: 100%;
              transform: scale(0.8);
            }
          }
        }

        .user_box {
          @include flex-container($gap: 20px, $align: center);
          cursor: pointer;
        }
      }

      &.active {
        width: 100vw;
        color: white;
        opacity: 1;
      }
    }
  }

  .row {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .overlay {
    @include element-position(
      $position: fixed,
      $top: 8vh,
      $bottom: 0,
      $left: 0,
      $z-index: 3
    );
    display: block !important;
    width: 100vw !important;
  }

  .Main_Navbar {
    backdrop-filter: blur(6px);
    box-shadow: none;
    height: 8vh;
    padding: 0 45px;
    position: fixed;
    transition: all 0.35s;

    &.active {
      background-color: rgba(0, 0, 0, 0.486);
    }

    .NavBar {
      box-sizing: border-box;
      justify-content: flex-start;
      height: 8vh;

      .navbar_container {
        position: static;

        .ham_btn {
          display: none;
        }

        .search_container {
          @include box-model($margin: 0, $padding: 0);
          @include element-position();

          .search_icon {
            @include element-position(
              $position: fixed,
              $right: 40px,
              $top: 0,
              $left: auto
            );
            color: rgba(255, 255, 255, 0.811);
            cursor: pointer;
            font-size: 1rem;
            transform: scale(0.6);
            height: 8vh;
            width: 40px;

            &.active {
              position: fixed;
              left: auto;
              right: 45px;
            }

            &:hover {
              color: white;
              transform: scale(0.8);
            }
          }

          .search_input {
            font-size: 1.1rem;
            height: 40px;
            padding: 0 0 0 15px;
          }

          .results {
            @include element-position(
              $position: absolute,
              $top: 40px,
              $left: 0,
              $z-index: -1
            );
            box-sizing: border-box;
            backdrop-filter: blur(4px) !important;
            padding-top: 30px;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.872);

            &.active {
              ul {
                li {
                  padding: 15px 20px;
                  font-weight: 300;
                  cursor: pointer;

                  &:hover {
                    background-color: rgba(255, 255, 255, 0.242);
                    font-weight: 600;
                  }
                }
              }
            }
          }
        }
      }

      .menu {
        @include color($color: rgba(255, 255, 255, 0.85), $background: none);
        @include element-position();
        @include flex-container($justify: center, $align: center);
        backdrop-filter: none;
        box-sizing: border-box;
        opacity: 1;
        padding-right: 180px;
        width: 100% !important;
        width: auto;
        height: 100%;

        .navbar_list {
          @include flex-container($justify: space-evenly, $gap: 15px);
          box-sizing: border-box;
          position: relative;
          width: 75%;

          .row {
            @include element-position(
              $position: absolute,
              $left: 0,
              $right: 0,
              $bottom: -100%
            );
            display: block;
            height: 1px;
            margin: 0;
            background-color: rgba(255, 255, 255, 0.385);
          }

          li {
            @include text($size: 0.8rem, $weight: 400);
            @include box-model($padding: 0, $margin: 0);
            flex: 0 0 auto;
            letter-spacing: 4px;
            position: relative;
            text-transform: uppercase;
            transition: all 0.35s;

            &:nth-child(1) {
              &:hover {
                color: white;
                font-weight: 500;
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.642);
                transform: scale(1.01);
              }
              .quantity {
                display: none;
              }
            }

            &:nth-child(2) {
              &:hover {
                color: white;
                font-weight: 500;
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.642);
                transform: scale(1.01);
              }
              .quantity {
                display: none;
              }
            }

            &:nth-child(3) {
              &:hover {
                color: white;
                font-weight: 500;
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.642);
                transform: scale(1.01);
              }
              .quantity {
                @include color(
                  $color: rgba(255, 255, 255, 0.85),
                  $background: none
                );
                @include flex-container($align: center);
                @include text($weight: 500, $size: 0.9rem);
                position: absolute;
              }
            }

            &:nth-child(4) {
              @include element-position(
                $position: fixed,
                $top: 0,
                $right: 34px
              );
              height: 8vh;
              color: rgba(255, 255, 255, 0);

              .circle {
                display: none;
              }

              .quantity {
                @include color(
                  $color: rgba(255, 255, 255, 0.85),
                  $background-color: rgba(255, 255, 255, 0)
                );
                @include element-position($position: absolute, $left: 22px);
                @include text($weight: 500, $size: 0.9rem);
              }

              .icon {
                display: block;
                color: rgba(255, 255, 255, 0.76);
                font-size: 1.4rem;
                transition: all 0.25s;

                &:hover {
                  color: white;
                  transform: scale(1.1);
                }
              }

              &:hover {
                color: rgba(255, 255, 255, 0);
              }
            }

            &:nth-child(5) {
              &:hover {
                color: white;
                font-weight: 500;
                text-shadow: 0 0 8px rgba(255, 255, 255, 0.642);
                transform: scale(1.01);
              }
            }

            .icon {
              display: none;
            }

            .circle {
              @include dimensions(10px, 10px);
              @include element-position(
                $position: absolute,
                $left: 52%,
                $bottom: -136%
              );
              background-color: rgba(255, 255, 255, 0);
              border-radius: 100%;
              display: block;

              &.active {
                background-color: rgb(255, 255, 255);
              }
            }
          }

          .user_box {
            @include element-position($position: fixed, $right: 145px, $top: 0);
            @include flex-container($gap: 5px, $align: center);
            height: 8vh;
            cursor: pointer;

            .user_name {
              font-size: 0.9rem;
            }

            .user_icon {
              font-size: 1.4rem;
            }
          }
        }
      }
    }
  }
}
