@import "../../styles/mixins";
@import '../../styles/variables';

.CityCardList {
  @include flex-container($direction: column, $gap: 10px);
  box-sizing: border-box;
  padding: 20px 0;
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: white;

  .Header {
    padding: 0 20px;

    h2 {
      font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 17px;
    color: $MainDarkBlue;
    text-transform: uppercase;
    // margin-left: 20px;
    }
  }
  .List {
    @include flex-container($direction: row, $gap: 16px, $align: flex-start);
    width: 100vw;
    overflow-x: scroll;
    scroll-behavior: smooth;
    box-sizing: border-box;
    padding: 10px 20px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (min-width: 767px) {
  .CityCardList {
    padding: 40px 100px;
    gap: 20px;

    .Header {
      @include flex-container($justify: space-between, $align: center);
      padding: 0;
    }

    .List {
      gap: 20px;
      padding: 20px 0px;
      width: 100%;
  }
}
}