@import "../../styles/mixins";
@import "../../styles/variables";

.ItemCardList {
  @include flex-container(column, flex-start, stretch, nowrap, 10px);
  box-sizing: border-box;
  position: relative;
  padding: 0 0 40px 0;


  .FavoritesSublist {
    @include flex-container(column, $gap: 20px);

    box-sizing: border-box;
    width: 100%;
    padding: 0 28px;
    background-color: transparent;
  }
}

@media only screen and (min-width: 767px) {
    .ItemCardList {
        @include flex-container(column, flex-start, stretch, nowrap, 10px);
        box-sizing: border-box;
        position: relative;
        padding: 0 0 40px 0;
      
        
        .LineTitle {
          position: absolute;
          width: 192px;
          height: 2px;
          color: white;
        }
        .FavoritesSublist {
          @include flex-container(column, $gap: 20px);
      
          box-sizing: border-box;
          width: 100%;
         
          padding: 0 70px;
          background-color: transparent;
      
          .FavoritesTitle {
          font-weight: 700;
          font-size: 1.5rem;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.73);
          box-sizing: border-box;
        }
        }
      }
}
