@import "../../styles/_mixins.scss";
@import "../../styles/variables";

.hero {
  position: relative;
  height:75vh;
  width: 100%;
  overflow: hidden;

  

  .maintexthero {
    @include flex-container($direction:column, $gap:10px);
    z-index: 3;
    position: relative;
    bottom: 40%;
    left: 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;

    h1 {
      font-weight: 800;
      font-size: 3rem;
      flex: 0 0 auto;
    }
    
    h2 {
      font-size: 1.5rem;
      flex: 0 0 auto;
    }
  }
  .buttonslider {
    @include flex-container(row, center, stretch, nowrap, 3px);
    z-index: 1;
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;

    .button_page {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: none;
      background: rgba(255, 255, 255, 0.212);
      transform: scale(0.7);

      &.active {
        background: rgba(255, 255, 255, 0.788);
      }
    }
  }

  .slider_container {
    @include flex-container();
    height: 100%;
    width: 100vw;
    overflow: hidden;

    .img_container{
      position: relative;
      width: 100vw;
      height: 100%;
      right: 0vw;
      transition: right 0.3s ease-in-out;
      

      .overlay_gradient { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 1;
        background: rgb(5,40,55);
        background: linear-gradient(180deg, rgba(5,40,55,0.8519782913165266) 0%, rgba(9,9,121,0) 100%);
      }

    .background {
      flex: 0 0 auto;
      width: 100vw;
      height:100%;
      
      object-fit: cover;
      filter: blur(3px);
    }
    }
}

  .explorebtn {
    color: white;
    width: 110px;
    height: 40px;
    z-index: 1;
    position: absolute;
    bottom: 10%;
    right: 0;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.0rem;
    background-color: $MainButtonBlue;
    border: none;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 49%);
    border-radius: 5px;
  }
}

@media only screen and (min-width: 768px) {
  .hero {
    @include flex-container(column, flex-start);
    left: 0%;
    top: 0;
    right: 0;
    object-fit: contain;
    height: 100vh;

    .background { 
      position: fixed;
      z-index: -1;
    }

    .maintexthero {
      z-index: 3;
      position: absolute;
      bottom: 10%;
      left: 0;
      padding: 50px;
      color: white;
      text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);

      h1 {
        font-weight: 800;
        font-size: 5rem;
      }
      h2 {
        font-size: 3rem;
      }
    }

    .buttonslider {
      @include flex-container(row, center, stretch, nowrap, 5px);
      z-index: 1;
      position: absolute;
      bottom: 3%;
      left: 0;
      width: 100%;

      button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: none;
        background: rgba(255, 255, 255, 0.34);
      }
    }

    // img {
    //   width: 100%;
    //   height: 100%;
    //   object-fit: cover;
    //   filter: blur(3px);
    // }

    .slider_container {
  
      .img_container{
        flex: 0 0 auto;
      }
  }

    .explorebtn {
      color: white;
      width: 140px;
      height: 60px;
      z-index: 1;
      position: absolute;
      bottom: 18%;
      left: 84%;
      font-weight: 500;
      font-size: 1.3rem;
      background-color: $MainButtonBlue;
      border: none;
      box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 49%);
      border-radius: 5px;
    }
  }
}
