@import "../../styles/_mixins.scss";
@import "../../styles/variables";

.hero {
  position: relative;
  height:75vh;
  width: 100%;
  overflow: hidden;

  

  .maintexthero {
    @include flex-container($direction:column, $gap:10px);
    z-index: 3;
    position: relative;
    bottom: 40%;
    left: 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    pointer-events: none;

    h1 {
      font-weight: 800;
      font-size: 3rem;
      flex: 0 0 auto;
    }
    
    h2 {
      font-size: 1.5rem;
      flex: 0 0 auto;
    }
  }

  .maintext_act {
    @include flex-container($direction:column, $gap:5px);
    position: absolute;
    z-index: 3;
    top: 16vh;
    font-weight: 800;
    font-size: 2rem;
    left: 8%;
    color: rgba(255, 255, 255, 0.486);
  }

  .text_container_city {
    @include flex-container($direction:column);
    z-index: 3;
    position: absolute;
    bottom: 10%;
    width: 50%;
    gap: 8px;
    left: 0;
    padding: 20px 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);
    

    h1 {
      font-weight: 800;
      font-size: 2rem;
      padding-left: 50px;
      text-align: right;
      box-sizing: border-box;
      flex: 0 0 auto;
      width: 100%;
    }

    .row_title {
      height: 2px;
      background-color: white;
      width: 100%;
    }

    h2 {
      font-size: 1rem;
      padding-left: 50px;
      text-align: right;
      box-sizing: border-box;
      font-weight: 200;
      width: 100%;
      text-transform: uppercase;
    }
  }
  .buttonslider {
    @include flex-container(row, center, stretch, nowrap, 3px);
    z-index: 1;
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    

    .button_page {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: none;
      background: rgba(255, 255, 255, 0.212);
      transform: scale(0.7);
      cursor: pointer;

      &.active {
        background: rgba(255, 255, 255, 0.788);
      }
    }
  }

  .slider_container {
    @include flex-container();
    height: 100%;
    width: 100vw;
    overflow: hidden;

    .swiper_button_container {
      display: none;
    }

    .img_container{
      position: relative;
      width: 100vw;
      height: 100%;
      right: 0vw;
      transition: right 0.3s ease-in-out;
      

      .overlay_gradient { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 1;
        background: rgb(5,40,55);
        background: linear-gradient(180deg, rgba(5,40,55,0.8519782913165266) 0%, rgba(9,9,121,0) 100%);
      }

    .background {
      flex: 0 0 auto;
      width: 100vw;
      height:100%;
      
      object-fit: cover;
      filter: blur(3px);
    }
    }
}      

      .explorebtn {
        z-index: 4;
        position: absolute;
        bottom: 10%;
        right: 0;
        margin-right: 30px;
        border-radius: 40px;
        overflow: hidden;
        color: white;
        width: 110px;
        height: 40px;
        font-weight: 500;
        font-size: 0.8rem;
        background-color: $MainButtonBlue;
        border: none;
        transition: all 0.25s;
        cursor: pointer;

        &:hover {
          background-color: #0b697e;
        }
        

        &:active {
          transform: scale(0.9);
        }
      }
}

@media only screen and (min-width: 768px) {
  .hero {
    @include flex-container(column, flex-start);
    left: 0%;
    top: 0;
    right: 0;
    object-fit: contain;
    height: 100vh;

    .background { 
      position: fixed;
      z-index: -1;
    }

    .maintexthero {
      z-index: 3;
      position: absolute;
      bottom: 10%;
      left: 0;
      padding: 50px;
      color: white;
      text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);

      h1 {
        font-weight: 800;
        font-size: 4rem;
      }
      h2 {
        font-size: 2rem;
      }
    }

    .text_container_city {
      @include flex-container($direction:column);
      z-index: 3;
      position: absolute;
      bottom: 10%;
      width: 40%;
      gap: 16px;
      left: 0;
      padding: 50px 0;
      color: white;
      text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);

      h1 {
        font-weight: 800;
        font-size: 4rem;
        padding-left: 50px;
        text-align: right;
        box-sizing: border-box;
        flex: 0 0 auto;
        width: 100%;
      }

      .row_title {
        height: 2px;
        background-color: white;
        width: 100%;
      }

      h2 {
        font-size: 2rem;
        padding-left: 50px;
        text-align: right;
        box-sizing: border-box;
        width: 100%;
      }
    }

    .buttonslider {
      @include flex-container(row, center, stretch, nowrap, 5px);
      z-index: 1;
      position: absolute;
      bottom: 3%;
      left: 0;
      width: 100%;

      button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: none;
        background: rgba(255, 255, 255, 0.34);
      }
    }

    .slider_container {
  
      .swiper_button_container {
        @include flex-container($align: center, $justify: space-between); 
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        pointer-events: none;

        button {
          color: rgba(255, 255, 255, 0.68);
          font-size: 2.5rem;
          border: 0;
          background: none;
          height: 100%;
          cursor: pointer;
          transition: all 0.2s;
          pointer-events: all;
          padding: 0;

          &:hover {
            transform: scale(1.08);
            background-color: rgba(0, 0, 0, 0.088);
          }
        }
      }

      .img_container{
        flex: 0 0 auto;
      }
  }

    .explorebtn {
      z-index: 4;
      position: absolute;
      bottom: 18%;
      left: 84%;
      width: max-content;
      overflow: hidden;
      padding: 0;
      margin: 0;
      color: white;
      width: 140px;
      height: 60px;
      font-weight: 500;
      font-size: 1.1rem;
      background-color: $MainButtonBlue;
      border: none;

      &:hover {
        background-color: #0b697e;
      }
  }
}
}

