@import "../../styles/_mixins.scss";
@import "../../styles/variables";

.hero {
  position: relative;
  height:70vh;
  width: 100%;
  overflow: hidden;

  

  .maintexthero {
    @include flex-container($direction:column, $gap:10px);
    z-index: 3;
    position: absolute;
    bottom: 10%;
    left: 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    pointer-events: none;
    pointer-events: none;

    h1 {
      font-weight: 800;
      font-size: 3rem;
      flex: 0 0 auto;
    }
    
    h2 {
      font-size: 1.5rem;
      flex: 0 0 auto;
    }

    .explorebtn {
      z-index: 4;
      position: relative;
      align-self: flex-end;
      bottom: 10%;
      right: 1%;
      border-radius: $MainBorderRadius;
      overflow: hidden;
      color: $MainButtonBlue ;
      width: 80px;
      height: 40px;
      font-weight: 600;
      font-size: 0.7rem;
      background-color: rgba(255, 255, 255, 0.898);
      border: none;
      transition: all 0.25s;
      cursor: pointer;
      pointer-events: all;

      &:hover {
        background-color: #f7f7f7;
      }
      

      &:active {
        transform: scale(0.9);
      }
    }
  }

  .maintext_act {
    @include flex-container($direction:column, $gap:5px);
    position: absolute;
    z-index: 3;
    top: 15vh;
    font-weight: 800;
    font-size: 2rem;
    left: 30px;
    color: rgba(255, 255, 255, 0.486);
    transform: scale(1);
  }

  .single_activity_container_text {
    @include flex-container($justify: space-between, $align: center);
    position: absolute;
    z-index: 3;
    bottom: 4vh;
    width: 100%;
    box-sizing: border-box;

    .maintext_sng_act {

      @include flex-container($direction:column, $gap:10px);
      
      font-weight: 800;
      font-size: 1rem;
      width: 54%;
      text-transform: capitalize;
      left: 0;
      color: rgba(255, 255, 255, 0.951);
      transform: scale(1);
      text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.315);

      h1 {
        padding-left: 40px;
        text-align: right;
      }

      .row_title {
        height: 2px;
        background-color: white;
        width: 100%;
      }
    }

    .category_marker {
      @include flex-container($align:center, $justify:center);
      @include border($radius: $MainBorderRadius);
      background-color: rgb(230, 230, 230);
      color: #29788a;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 0.65rem;
      flex: 0 0 auto;
      height: 20px;
      padding: 0 12px;
      margin-right: 30px;  
    }
  }

  .text_container_city {
    @include flex-container($direction:column);
    z-index: 3;
    position: absolute;
    bottom: 10%;
    width: 50%;
    gap: 8px;
    left: 0;
    padding: 20px 0;
    color: white;
    text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);
    

    h1 {
      font-weight: 800;
      font-size: 2rem;
      padding-left: 50px;
      text-align: right;
      box-sizing: border-box;
      flex: 0 0 auto;
      width: 100%;
    }

    .row_title {
      height: 2px;
      background-color: white;
      width: 100%;
    }

    h2 {
      font-size: 1rem;
      padding-left: 50px;
      text-align: right;
      box-sizing: border-box;
      font-weight: 200;
      width: 100%;
      text-transform: uppercase;
    }
  }
  .buttonslider {
    @include flex-container(row, center, stretch, nowrap, 3px);
    z-index: 1;
    position: absolute;
    bottom: 2%;
    left: 0;
    width: 100%;
    

    .button_page {
      width: 12px;
      height: 12px;
      border-radius: 100%;
      border: none;
      background: rgba(255, 255, 255, 0.212);
      transform: scale(0.7);
      cursor: pointer;

      &.active {
        background: rgba(255, 255, 255, 0.788);
      }
    }
  }

  .slider_container {
    @include flex-container();
    height: 100%;
    width: 100vw;
    overflow: hidden;

    .swiper_button_container {
      display: none;
    }

    .img_container{
      position: relative;
      width: 100vw;
      height: 100%;
      right: 0vw;
      transition: right 0.3s ease-in-out;
      

      .overlay_gradient { 
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
        z-index: 1;
        background: rgb(5,40,55);
        background: linear-gradient(180deg, rgba(5,40,55,0.8519782913165266) 0%, rgba(9,9,121,0) 100%);
      }

    .background {
      flex: 0 0 auto;
      width: 100vw;
      height:100%;
      
      object-fit: cover;
      filter: blur(3px);
    }

    .background_city {
      flex: 0 0 auto;
      width: 100%;
      height:100%;
      position: fixed;
          z-index: -1;
      
      object-fit: cover;
      filter: blur(0.6px);

    }
    }
}      
}

@media only screen and (min-width: 768px) {
  .hero {
    @include flex-container(column, flex-start);
    left: 0%;
    top: 0;
    right: 0;
    object-fit: contain;
    height: 70vh;

    .background { 
      position: fixed;
      z-index: -1;
    }

    .maintexthero {
      z-index: 3;
      position: absolute;
      bottom: 8%;
      left: 0;
      padding: 50px;
      color: white;
      text-shadow: 0px 2px 2px rgba(11, 47, 63, 0.69);

      h1 {
        font-weight: 800;
        font-size: 2.3rem;
      }
      h2 {
        font-size: 1.2rem;
      }
    }

    .maintext_act {
      top: 12vh;
      left: 45px;
      text-transform: uppercase;
      font-size: 1.4rem;

      h1 {
        cursor: pointer;
      }
    }

    .maintext_sng_act {
      width: 50vw;
    }

    .text_container_city {
      @include flex-container($direction:column);
      z-index: 3;
      position: absolute;
      bottom: 10%;
      width: 40%;
      gap: 16px;
      left: 0;
      padding: 50px 0;
      color: white;
      text-shadow: 0px 4px 4px rgba(11, 47, 63, 0.69);

      h1 {
        font-weight: 800;
        font-size: 4rem;
        padding-left: 50px;
        text-align: right;
        box-sizing: border-box;
        flex: 0 0 auto;
        width: 100%;
      }

      .row_title {
        height: 2px;
        background-color: white;
        width: 100%;
      }

      h2 {
        font-size: 2rem;
        padding-left: 50px;
        text-align: right;
        box-sizing: border-box;
        width: 100%;
      }
    }

    .buttonslider {
      @include flex-container(row, center, stretch, nowrap, 5px);
      z-index: 1;
      position: absolute;
      bottom: 3%;
      left: 0;
      width: 100%;

      button {
        width: 20px;
        height: 20px;
        border-radius: 100%;
        border: none;
        background: rgba(255, 255, 255, 0.34);
      }
    }

    .slider_container {
  
      .swiper_button_container {
        @include flex-container($align: center, $justify: space-between); 
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3;
        pointer-events: none;

        button {
          color: rgba(255, 255, 255, 0.68);
          font-size: 2.5rem;
          border: 0;
          background: none;
          height: 100%;
          cursor: pointer;
          transition: all 0.2s;
          pointer-events: all;
          padding: 0;

          &:hover {
            transform: scale(1.08);
            background-color: rgba(0, 0, 0, 0.088);
          }
        }
      }

      .img_container{
        flex: 0 0 auto;

        .background_city {
          position: fixed;
          z-index: -1;
        }
      }
  }

    .explorebtn {
      z-index: 4;
      position: relative;
      width: max-content;
      overflow: hidden;
      padding: 0;
      margin: 0;
      color: $MainButtonBlue;
      width: 140px;
      height: 60px;
      font-weight: 600;
      font-size: 1.1rem;
      background-color: white ;
      border: none;

      &:hover {
        background-color: #f3f3f3;
        transform: scale(1.05);
      }
  }
}
}

