@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

.miniCard {
  height: 100px;
  width: 100px;
  flex: 0 0 auto;
  overflow: hidden;

  img {
    border-radius: 6px;
    height: 100%;
    width: 100%;
    object-fit: contain;
    //↓↓↓QUESTO E' UN BOXSHADOW DI PROVA ↓↓↓
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  }
  // .overlay {
  //   position: absolute;
  //   top: 0;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  //   z-index: 3;
  //   background: linear-gradient(
  //     180deg,
  //     rgba(0, 47, 57, 0) 55.21%,
  //     rgba(1, 36, 51, 0.97) 100%
  //   );
  // }
}

@media only screen and (min-width: 767px) {
  .miniCard {
    height: 250px;
    width: auto;
  }
}

@media only screen and (min-width: 1290px) {
}
