@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.miniCard {
  height: 70px;
  width: 70px;
  flex: 0 0 auto;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  @include border($radius: $MoreBorderRadius);

  &:hover {
    transform: scale(1.01);
    filter: saturate(1.3) contrast(1.1);
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.45);
  }

  p {
    @include flex-container($align: center, $justify: center);
    position: absolute;
    top: 20%;
    bottom: 0;
    left: 0;
    right: 0;
    color: rgba(255, 255, 255, 0.785);
    font-weight: 800;
    font-size: 1.6rem;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.204);

    &::after {
      content: '%'
    }
  }

  span {
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 0.6rem;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.489);
  }

}

@media only screen and (min-width: 767px) {
  .miniCard {
    height: 110px;
    width: 110px;

    p {
      font-size: 2.6rem;
    }

    span {
      font-size:0.9rem;
    }
  }
}
