@import "../../styles/_variables.scss";

.Favorites {
  min-height: 71vh;
  background: rgb(137,165,171);
  background: linear-gradient(180deg, rgba(137,165,171,1) 0%, rgba(5,40,55,1) 100%);
  padding-top: 18vh;
  
  
}
