@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.miniCarousel {
  @include flex-container(column, flex-start, stretch, nowrap, 10px);
  box-sizing: border-box;
  padding: 20px 0;
  width: 100%;
  height: 25vh;
  background-color: $GreyBackground;

  .title {
    @include flex-container($justify: space-between);  
    padding: 0 20px;
    width: 100%;
    box-sizing: border-box;

    h3 {
      color: $MainDarkBlue;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .voucherDiv {
    @include flex-container(row, flex-start, stretch, nowrap, 20px);
    width: auto;
    overflow-x: scroll; 
    overflow-y: hidden;
    padding: 10px 20px;
    box-sizing: border-box;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (min-width: 767px) {
  .miniCarousel {
    @include flex-container($direction: column, $justify: center );
    gap: 30px;
    padding: 40px 0;
    height: auto;

    .title {
      padding: 0 40px;

      h3 {
        font-size: 1.2rem;
      }
    }

    .voucherDiv {
      gap: 30px;
      padding: 10px 40px;
    }
  }
}
