@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

.miniCarousel {
  @include flex-container(column, flex-start, stretch, nowrap, 10px);

  width: 100%;
  background-color: $GreyBackground;

  .title {
    width: max-content;
    color: $MainDarkBlue;
    font-family: Montserrat;
    font-weight: bold;
    margin: 20px 0 0 20px;
    text-transform: uppercase;
  }
  .voucherDiv {
    @include flex-container(row, flex-start, stretch, nowrap, 20px);

    margin: 5px 20px 15px 20px;
    width: auto;
    overflow-x: scroll;
    padding: 5px 0;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media only screen and (min-width: 767px) {
  .miniCarousel {
    .title {
      font-size: 1.3rem;
      margin: 30px 0 0 30px;
    }
    .voucherDiv {
      margin: 15px 30px 25px 30px;
      padding: 15px 0;
    }
  }
}

@media only screen and (min-width: 1290px) {
}
