@import "/styles/_mixins.scss";
@import "/styles/_variables.scss";

.DeveloperCard {
  @include flex-container(column, center, center, $gap: 10px);
  color: rgba(255, 255, 255, 0.749);
  padding: 20px 60px;
  height: 100%;

  .personalImg {
    @include dimensions ($height: 120px, $width: 120px);
    border-radius: 100px;
  }

  h2 {
    font-weight: 600;
  }

  p {
    font-size: 0.8rem;
  }

  .socials {
    @include flex-container($gap: 10px);

    .icon {
      @include dimensions ($height: 1.3rem, $width: 1.3rem);
      cursor: pointer;
      transition: 0.45s;

      &:hover {
        color: white;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .DeveloperCard {
    @include flex-container(column, $align: center, $justify: space-between, $gap: 15px);
    @include dimensions($width: 300px, $height: 270px);
    transform: scale(1);
    padding: 30px 0px;

    .personalImg {
      @include dimensions($width: 120px, $height: 120px);
    }

    h2 {
      @include text ($weight: 600, $size: 1.1rem);
      text-align: center;
    }

    p {
      font-size: 0.8rem;
      text-align: center;
    }

    .socials {
      @include flex-container($gap: 10px);

      .icon {
        @include dimensions($width: 1.5rem, $height: 1.5rem);
      }
    }
  }
}
