@import "../../styles/mixins";
@import "../../styles/variables";

.Footer {
  @include dimensions(100%, 17vh);
  @include box-model($padding: 10px 30px);
  @include color(white, $MainDarkBlue);

  position: relative;
  box-shadow: 0px 0px 8px 6px $MainDarkBlue;

  .FooterContainer {
    @include flex-container($align: center, $justify: space-between);

    .icon_container {
      @include flex-container($gap: 8px);
      .icon {
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }

  .zoneSelector {
    @include flex-container($gap: 10px);

    .lang {
      @include color(white, #2247579f);

      border: none;
      outline: none;
    }

    .currency {
      @include color(white, #2247579f);

      border: none;
      outline: none;
    }
  }

  p {
    @include element-position(absolute, $bottom: 18%, $left: 0);
    @include text(0.6rem, 200);

    text-align: center;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .Footer {
    @include box-model($padding: 40px);

    height: 14vh;

    .FooterContainer {
      h2 {
        font-size: 1.8rem;
      }

      .icon_container {
        .icon {
          font-size: 1.8rem;
        }
      }
    }

    .zoneSelector {
      @include flex-container($gap: 10px, $justify: flex-start);
      .lang {
        @include color(white, #2247579f);

        border: none;
        outline: none;
      }

      .currency {
        @include color(white, #2247579f);
        border: none;
        outline: none;
      }
    }
  }
}
