@import "../../styles/mixins";
@import "../../styles/variables";

.modaloverlay {
  background-color: rgba(9, 15, 17, 0.72);

  @include element-position(fixed, 0, 0, 0, 0, 99);
  @include flex-container($align: center, $justify: center);
   
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 0, 0, 0);
    }

  .modal {
    width: 48%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.945);
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    color: rgb(255, 255, 255);
    cursor: pointer;
    box-shadow: 0 0 60px rgba(255, 255, 255, 0.168);
    position: relative;

   

    .mainText {
      text-align: center;
      color: $MainDarkBlue;
      font-size: 1.1rem;
      font-weight: 700;
      padding: 2px;
    }

 .cart_icon {
  text-align: center;
  .carrello {
    width: 80%;
  }
 }
  }
}

@media only screen and (min-width: 767px) {
  .modaloverlay {
    background-color: rgba(9, 15, 17, 0.72);
    @include element-position(fixed, 0, 0, 0, 0, 99);

    .modal {
      width: auto;
      @include flex-container($direction: column, $gap: 10px);
      padding: 30px 10px;
      background-color: rgba(255, 255, 255, 0.945);
      border-radius: 4px;
      box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
      color: rgb(255, 255, 255);
      cursor: pointer;
      box-shadow: 0 0 60px rgba(255, 255, 255, 0.168);


      .mainText {
        font-size: 1.4rem;
      }

      .cart_icon {
        position: relative;

        .carrello {
          width: 60%;
        }
    }
      .check {
        color: $MainButtonBlue;
        background-color: white;
        border-radius: 100%;
        font-size: 4.25rem;
        @include element-position(absolute, 33%, 44%, auto, auto, 999);
      }
    }
  }
}
