@import "../../styles/mixins";
@import "../../styles/variables";

.CityCard {
  @include flex-container();
  @include border($radius: $MainBorderRadius);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.615);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;
  width: 185px;
  height: 280px;

  &:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 6%);
    transition: 0.2s;
    filter: saturate(1.3) contrast(1.1);
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(16, 43, 49, 0) 55.21%,
      rgba(1, 35, 49, 0.75) 100%
    );
  }

  .Image {
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .Content {
    @include flex-container($direction: column, $gap: 3px);
    bottom: 5%;
    color: white;
    right: 0;
    position: absolute;
    z-index: 1;
    min-width: 50%;

    .Text {
      box-sizing: border-box;
      color: white;
      font-style: normal;
      font-weight: 700;
      font-size: 1rem;
      line-height: 15px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.72);
      width: 100%;
      text-align: left;
      padding: 0 5px;
    }

    .Row {
      height: 1.5px;
      width: 100%;
      background-color: white;
    }

    .Description {
      box-sizing: border-box;
      color: white;
      font-size: 0.6rem;
      font-style: normal;
      font-weight: 400;
      position: relative;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.72);
      width: 100%;
      text-align: left;
      padding: 0 5px;
    }
  }

  .Heart {
    background: none;
    color: white;
    position: absolute;
    top: 8px;
    left: 8px;
  }
}

@media only screen and (min-width: 767px) {
  .CityCard {
    @include border($radius: $MainBorderRadius);
    box-sizing: border-box;
    flex: 0 0 auto;
    width: 50%;
    max-width: 200px;
    height: 280px;
    transition: all 0.35s;

    &:hover {
      transform: scale(1.05);
    }

    .Content {
      min-width: 28%;
      gap: 4px;

      .Text {
        font-size: 1.1rem;
        text-align: left;
      }
      .Row {
        height: 1px;
        width: 100%;
        background-color: white;
      }
      .Description {
        font-size: 0.5rem;
        text-align: left;
      }
    }

  }
}
