@import "../../styles/mixins";
@import "../../styles/variables";

.CityCard {
  @include flex-container();
  @include border($radius: $MainBorderRadius);
  @include dimensions ($width: 185px,$height: 280px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.615);
  cursor: pointer;
  overflow: hidden;
  position: relative;
  flex: 0 0 auto;

  &:hover {
    transform: scale(1.01, 1.01);
    box-shadow: 0 4px 12px 0 rgb(0 0 0 / 6%);
    transition: 0.2s;
    filter: saturate(1.3) contrast(1.1);
  }

  .overlay {
    @include element-position(absolute, 0, 0, 0, 0);
    background: linear-gradient(
      180deg,
      rgba(16, 43, 49, 0) 55.21%,
      rgba(1, 35, 49, 0.75) 100%
    );
  }

  .Image {
    @include dimensions ($height: 100%, $width: 100%);
    object-fit: cover;
  }

  .Content {
    @include flex-container($direction: column, $gap: 3px);
    @include element-position (absolute, $bottom: 5%, $right: 0, $z-index: 1);
    color: white;
    min-width: 50%;

    .Text {
      @include text($weight: 700, $size: 1rem);
      @include box-model ($sizing: border-box, $padding: 0 5px);
      color: white;
      font-style: normal;
      line-height: 15px;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.72);
      width: 100%;
      text-align: left;
    }

    .Row {
      @include dimensions ($height: 1.5px, $width: 100%);
      background-color: white;
    }

    .Description {
      @include box-model ($sizing: border-box, $padding: 0 5px);
      @include text ($size: 0.6rem, $weight: 400);
      color: white;
      font-style: normal;
      position: relative;
      text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.72);
      width: 100%;
      text-align: left;
    }
  }
}

@media only screen and (min-width: 767px) {
  .CityCard {
    @include border($radius: $MainBorderRadius);
    @include dimensions ($height: 280px, $width: 50%);
    box-sizing: border-box;
    flex: 0 0 auto;
    max-width: 200px;
    transition: all 0.35s;

    &:hover {
      transform: scale(1.05);
    }

    .Content {
      min-width: 28%;
      gap: 4px;

      .Text {
        font-size: 1.1rem;
        text-align: left;
      }
      .Row {
        @include dimensions ($height: 1px, $width: 100%);
        background-color: white;
      }
      .Description {
        font-size: 0.5rem;
        text-align: left;
      }
    }

  }
}
