@import "../../styles/_variables.scss";
@import "../../styles/_mixins.scss";

.aboutUsPage {
  min-height: 71vh;
  padding-top: 12vh;
  background-color: $MainDarkBlue;
  background-image: linear-gradient(#052837c5, #052837c5, #052837c5),
    url("../../assets/aboutusbg.jpg");
  background-size: 250%;
  background-position: 52%;

  .mainSection {
    @include flex-container(column, space-between, $gap: 30px);

    padding: 40px 0;

    .infoSection {
      @include flex-container(column, $gap: 20px);

      padding: 0 40px;
      color: rgba(255, 255, 255, 0.749);

      .title {
        border-bottom: 1px solid white;
        height: 2rem;

        .titleText {
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      
      .fullText {
        @include flex-container(column, $gap: 20px);
        text-align: justify;

        .bold{
          font-weight: bold;
        }
        .tech{
          list-style: inside;
        }
      }

      .description,
      .githubLink {
        font-weight: 500;
      }
      .info {
        @include flex-container($align: center, $gap: 20px);

        .iconSpan {
          .icon {
            height: 1.6rem;
            width: 1.6rem;
          }
        }
      }
    }

    .profilesDiv {
      display: none;
    }

    .creditsSection {
      @include flex-container(column, center, center);
      color: white;

      .logo {
        width: 200px;
      }

      .creditsText {
        font-weight: 600;
        font-size: small;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
  .aboutUsPage {
    .mainSection {

      .swiper {
        display: none;
      }

      .profilesDiv {
        @include flex-container(row, $justify: center, $gap: 20px);
        width: 60%;
        margin: 0 auto; 
      }

      .creditsSection {

        .creditsText {
          font-weight: 600;
          font-size: small;
        }
      }
    }
  }
}

