@import "../../../styles/_mixins.scss";
@import "../../../styles/_variables.scss";

.Activity {
  .activityMainSection {
    @include flex-container(column, $gap: 2.5rem);

    background-color: white;
    box-sizing: border-box;
    padding: 40px;

    .activityDescriptionDiv {
      @include flex-container(column, $align: flex-end, $gap: 1rem);

      .activityDescription {
        color: rgba(2, 25, 35, 1);
        font-weight: 500;
        line-height: 1.5rem;
        text-align: justify;
      }

      .nameless {
        background-color: rgb(54, 102, 142);
        height: 30vh;
        width: 100%;
      }

      .activityDescriptionBtn {
        color: #49686e;
        background: none;
        border: none;
        text-decoration: underline;
      }
    }

    .activityInfo {
      @include flex-container($justify: space-between);

      .activityInfoTextDiv {
        @include flex-container(column, $gap: 1rem);

        color: rgba(2, 85, 104, 0.79);

        width: 60%;

        .activityInfoText {
          @include flex-container(column, $gap: 0.5rem);

          h2 {
            color: $MidBlue;
            font-weight: 600;
          }

          .activityInfoTimetable {
            line-height: 1.4rem;

           li {
            padding: 5px 0;
            &::before {
              content: "•";
              margin-right: 10px;
              font-size: 2rem;
              color: $MainBlue;
            }
           }
          }
        }
      }

      .activityInfolanguagesDiv {
        @include flex-container(column, $align: flex-end, $gap:20px);

        color: $MidBlue;
        font-weight: 600;

        div {
          @include flex-container(column, $align: flex-end, $gap: 8px);
          img {
            width: 40px;
          }
        }
      }
    }
  }

  .servicesSection {
    @include flex-container(column, $align: center, $gap: 3rem);

    background-color: white;
    box-sizing: border-box;
    padding: 0 40px 40px;

    .servicesListDiv {
      @include flex-container(column, $gap: 1.5rem);
      width: 100%;

      .servicesListTitle {
        color: $MidBlue;
        font-weight: 600;
      }
      .servicesList {
        @include flex-container(
          row,
          $justify: space-between,
          $wrap: wrap,
          $gap: 1rem
        );

        .servicesListItem {
          width: 47%;
          color: rgba(2, 85, 104, 0.79);
          &::before {
            content: "●";
            font-weight: 600;
            margin-right: 10px;
          }
        }
      }
    }

    .activityPriceInfoDiv {
      @include flex-container(column, $align: center, $gap: 1.9rem);

      .activityPriceInfo {
        @include flex-container($justify: center);

        font-weight: 700;

        .activityPriceValue {
          font-size: 1.5rem;
          color: #6e939b;
        }
      }

      .cartBtn {
        @include flex-container($justify: center, $align: center);

        border: none;
        border-radius: $MainBorderRadius;
        color: white;
        background-color: #6e939b;
        height: 48px;
        width: 145px;
        font-weight: 700;
      }
    }
  }
}

//PRIMA MEDIA QUERYYYYYYYY

@media only screen and (min-width: 767px) {
  .Activity {
    .activityMainSection {
      // @include flex-container(column, $gap: 2.5rem);

      padding: 80px;

      .activityDescriptionDiv {
        @include flex-container(row, $justify: space-between, $gap: 50px);
        height: max-content;

        .activityDescription {
          flex-grow: 1;
          font-weight: 500;
          line-height: 1.5rem;
          width: 50%;
        }

        .nameless {
          background-color: rgb(66, 113, 147);
          flex: 0 0 auto;
          height: 20vh;
          width: 30%;
        }

        .activityDescriptionBtn {
          cursor: pointer;
        }
      }

      .activityInfo {
        @include flex-container($justify: flex-start);

        .activityInfoTextDiv {
          @include flex-container(row, $gap: 2rem);

          color: rgba(2, 85, 104, 0.79);

          width: 66.66%;

          .activityInfoText {
            @include flex-container(column, $gap: 0.5rem);
            width: 50%;

            h2 {
              color: $MidBlue;
              font-weight: 600;
              text-align: start;
            }

            .activityInfoTimetable {
              line-height: 1.4rem;
            }
          }
        }

        .activityInfolanguagesDiv {
          @include flex-container(column, $align: center, $gap: 10px);

          color: $MidBlue;
          font-weight: 600;
          width: 33.33%;

          div {
            @include flex-container(row, $align: center, $gap: 0.8rem);
          }
        }
      }
    }

    .servicesSection {
      @include flex-container(row, $align: stretch, $gap: 0%);

      background-color: white;

      padding: 0 80px 80px;

      .servicesListDiv {
        @include flex-container(column, $gap: 2rem);

        .servicesListTitle {
          font-weight: 600;
        }
        .servicesList {
          @include flex-container(
            row,
            $justify: space-between,
            $wrap: wrap,
            $gap: 1.5rem
          );

          .servicesListItem {
            &::before {
              font-weight: 600;
              margin-right: 10px;
            }
          }
        }
      }

      .activityPriceInfoDiv {
        @include flex-container(
          column,
          $justify: flex-end,
          $align: center,
          $gap: 1.9rem
        );

        .activityPriceInfo {
          @include flex-container($justify: center);

          font-weight: 700;

          .activityPriceValue {
            font-size: 1.5rem;
          }
        }

        .cartBtn {
          @include flex-container($justify: center, $align: center);

          height: 48px;
          width: 145px;
          font-weight: 700;
          cursor: pointer;
        }
      }
    }
  }
}

@media only screen and (min-width: 1290px) {
}
