@import '../../styles/mixins';
@import '../../styles/variables';

.ActivityCardList {
    @include flex-container(column, flex-start, stretch, nowrap, 10px);
    box-sizing: border-box;
    position: relative;
    padding: 0 0 40px 0;
    background-color: white;

    .Title {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $MainDarkBlue;
        margin-left: 20px;
        box-sizing: border-box;  
    }

    .Title_cat_page {
        font-weight: 700;
        font-size: 1.2rem;
        text-transform: uppercase;
        color: $MainDarkBlue;
        box-sizing: border-box;
        padding: 20px 30px 0 30px;

        span:nth-child(1) {
            font-weight: 400;
        }

    }

    .Sublist {
        @include flex-container($gap: 20px);
        
        box-sizing: border-box;
        width: 100%;
        overflow-x: scroll;
        padding: 10px 20px;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

.Sublist_cat_page {
    @include flex-container($direction: column);
    padding: 0 30px;
}

@media only screen and (min-width: 767px) {
    .ActivityCardList {
        gap: 30px;
        padding-bottom: 40px;

        .Title {
            margin-left: 40px;
        }

        .Sublist {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 280px 280px auto;
            // gap: 40px;
            padding: 10px 40px;
        }

        .Sublist_cat_page {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 0 30px;
            row-gap: 200px;
            column-gap: 50px;
            margin-bottom: 12vh;
            
        }
    }
}
 