@import "../../styles/mixins";
@import "../../styles/variables";

.ActivityCardList {
  @include flex-container(column, flex-start, stretch, nowrap, 10px);
  @include box-model($padding: 0 0 40px 0);

  position: relative;
  background-color: white;

  .Title {
    @include text(1.2rem, 700, uppercase);
    @include box-model($margin: 0 0 0 20px);

    color: $MainDarkBlue;
  }

  .Title_cat_page {
    @include text(1.2rem, 700, uppercase);
    @include box-model($padding: 20px 30px 0);

    color: $MainDarkBlue;

    span:nth-child(1) {
      font-weight: 400;
    }
  }

  .Sublist {
    @include flex-container($gap: 20px);
    @include box-model($padding: 10px 20px);

    width: 100%;
    overflow-x: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.Sublist_cat_page {
  @include flex-container($direction: column);
  padding: 0 30px;
}

@media only screen and (min-width: 767px) {
  .ActivityCardList {
    gap: 10px;
    padding: 0 100px 40px;

    .Title {
      margin-left: 0px;
    }

    .Sublist {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 185px 280px -1px;
      padding: 50px 100px 10px;
    }

    .Sublist_cat_page {
      @include box-model($margin: 0 0 12vh, $padding: 0 30px);
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 200px;
      column-gap: 20px;
    }
  }
}
