@import "./mixins";
@import "./variables";

.page404 {
  @include flex-container(column, $gap: 25px);
  min-height: 89vh;
  background-image: url("../assets/404.png");
  background-repeat: no-repeat;
  padding-top: 18vh;
  background-position-x: 29%;
  position: relative;

  .maintext {
    color: white;
    padding: 0.625rem;
    text-align: center;
    transform: scale(0.94);
    animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  }
  @keyframes scale {
    100% {
      transform: scale(1);
    }
  }

  span {
    display: inline-block;
    opacity: 0;
    font-weight: 500;
    filter: blur(4px);
  }

  span:nth-child(1) {
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(2) {
    animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(3) {
    animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(4) {
    animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(10) {
    animation: fade-in 0.8s 1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(11) {
    animation: fade-in 0.8s 1.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(12) {
    animation: fade-in 0.8s 1.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  span:nth-child(13) {
    animation: fade-in 0.8s 1.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  @keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  .btn {
    height: 3.75rem;
    width: 9.125rem;
    position: absolute;
    left: 30%;
    right: 0;
    top: 80%;
    bottom: 0;
    border-radius: 40px;
    border: none;
    color: rgb(59, 76, 91);
    font-weight: 600;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.932);
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 68%);
    filter: blur(4px);
    animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
}

@media only screen and (min-width: 767px) {
  .page404 {
    @include flex-container(column, $gap: 25px);
    min-height: 83vh;
    background-image: url("../assets/404.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding-top: 18vh;

    .maintext {
      color: white;
      padding: 3.125rem;
      align-self: flex-end;
      text-align: left;
      transform: scale(0.94);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
    }

    .btn {
      height: 2.75rem;
      width: 8.125rem;
      position: absolute;
      left: 72%;
      right: 0;
      top: 50%;
      bottom: 0;
      border-radius: 2px;
      border: none;
      color: rgb(59, 76, 91);
      font-weight: 600;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.932);
      text-align: center;
      box-shadow: 0 0 8px rgba(0, 0, 0, 68%);
      filter: blur(4px);
      animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
      transition: all 0.15s;
      cursor: pointer;

      &:hover::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
      &:hover {
        transform: scale(1.02);
		box-shadow: 0 0 8px rgba(211, 210, 210, 0.68);
      }
      &::after {
        transform: scaleX(1.4) scaleY(1.6);
        opacity: 0;
      }
    }
  }
}
