@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.cartItem {
  @include flex-container(column, $gap: 1rem);

  color: white;

  .ticketType {
    h3 {
      display: inline-block;
      width: 50%;
      font-size: 1.2rem;
    }

    .ticketName {
      text-transform: uppercase;
    }

    .ticketPrice {
      text-align: end;
    }
  }
  .ticketAmount {
    @include flex-container();
    .ticketAmountText {
      padding-left: 0.9rem;
      width: 50%;
    }

    .ticketAmountSelection {
      @include flex-container($justify: end);
      width: 50%;

      button,
      p {
        display: inline;
      }

      button {
        background: none;
        border: none;
        color: white;
      }

      p {
        margin: 0 1rem;
      }
    }
  }
}

@media only screen and (min-width: 767px) {
}
