@import "../../styles/_mixins.scss";
@import "../../styles/_variables.scss";

.cartItem {
  @include flex-container(column, $gap: 5px);
  color: white;

  .ticketType {
    @include flex-container($direction: row, $justify: space-between);

    h3 {
      font-size: 1.2rem;
    }

    .ticketName {
      @include text ( $transform: uppercase,$size: 1rem);
      width: 60%;
    }

    .ticketPrice {
      text-align: end;
      font-weight: 300;
      
      &::before {
        content: "€";
        font-weight: 600;
        margin-right: 10px;
      }
    }
  }
  .ticketAmount {
    @include flex-container();

    .ticketAmountText {
      @include text($size: 0.8rem, $weight: 200);
      margin-left: 32px;
      width: 50%;
      color: rgba(255, 255, 255, 0.838);
    }

    .ticketAmountSelection {
      @include flex-container($justify: flex-end, $align: center);
      width: 100%;
      font-size: 0.8rem;

      .removeBtn {
        @include text($weight: 700, $size: 0.8rem);
        background-color: rgba(255, 255, 255, 0.895);
        @include border ($border: none, $radius: 15px);
        color: $MainDarkBlue;
        padding: 5px 8px;
        cursor: pointer;
        transition: all 0.35s;

        &:hover {
          transform: scale(1.02);
        }
      }
    }
  }
}

@media only screen and (min-width: 767px) {
}
